body{
    background-color: gray;
}
.title1{
    color: black;
}
.text1{
    color: red;
}
.title2{
    color: blue;
}
.text2{
    color: red;
}
.title3{
    color: green;
}
.text3{
    color: black;
}